<!-- Page Content -->
<div class="container">

  <div id="GoodPractices" class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let todo of todos">
          <a class="card h-100 text-dark" [routerLink]="[todo.link, todo.id]">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            <div class="card-body">
              <h5 class="card-title">{{todo.name}}</h5>
              <p class="card-text">{{todo.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> • • • • • </small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
