<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent"
          data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home']">Home</a>

  <div class="collapse navbar-collapse " id="navbarContent" [ngbCollapse]="!isExpanded">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class='nav-link' [routerLink]="['/page1']">Page 1</a></li>
      <li class="nav-item"><a class='nav-link' [routerLink]="['/page2']">Page 2</a></li>
    </ul>
    <ul class="navbar-nav navbar-right blue">
      <li><a (click)='signOut()' style='cursor: pointer;'><span class="fa fa-user"></span> Sign Out</a></li>
    </ul>
  </div>
</nav>

<app-homepage></app-homepage>

<router-outlet></router-outlet>
