<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="col-lg-12 col-md-12 mb-12" >
        <div class="card h-100 text-dark">
          <div class="card-body">
            <h5 class="card-title">Etirements</h5>
            <p class="card-text">Etirements</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"> 5 sec par pause </small>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 mb-12" >
        <div class="card h-100 text-dark">
          <div class="card-body">
            <h5 class="card-title">Echauffements</h5>
            <p class="card-text">5 minutes de vélo ou 3 minutes de corde à sauter</p>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 mb-12" >
        <div class="card h-100 text-dark">
          <div class="card-body">
            <h5 class="card-title">Exercices</h5>
            <p class="card-text">2 série de chaque : A B C D E F G</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"> 2 min de pause entre chaque série et chaque exercices </small>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 mb-12" >
        <div class="card h-100 text-dark">
          <div class="card-body">
            <h5 class="card-title">Etirements</h5>
            <p class="card-text">Etirements</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"> 30 sec - 1min par pause </small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
